/*CSS styling*/
body{
	height: 2500px;
  width: 100vw;
	background-color: #5534eb;
	background: -webkit-linear-gradient(rgba(209, 213, 224), rgba(55, 66, 97));
}

body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}


/*.map {
  height: 80%;
  padding: 15;
  margin: 15;
  fill-outline-color:#000099;
}*/

/*.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
*/
.w3content{
  max-height: fit-content,
	/* max-width: 2500px */
  
}

.col-xs-6{
  font-family: "Raleway", sans-serif;
  color:  #ffffff;
  /*background-color:#c2c2d6;*/

}