<!DOCTYPE html>
<html lang="en">

<!-- HEAD:index.html -->
<head>
	<meta charset="utf-8">
	<!-- title -->
	<title>PowderHounds</title>
	<!-- icon -->
	<link rel='icon' href="../static/img/phoundlogo.png"/>
	<!--image ***WANT IMAGE ??***-->
	<!-- <img src="" class="img-responsive" alt="mountain range"> -->
	<!-- style css-->
	<link rel='stylesheet' href="../static/css/styles.css"/>
	<!-- dropdown list -->
	<link rel='stylesheet' href="../static/css/jquerydropdown.css"/>
	<!-- Leaflet -->
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
	<!--w3 layout-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<!-- d3 cdn -->
	<script src="https://d3js.org/d3.v6.min.js"></script>
<body class="w3-light-grey">
</head>

<body>
<!--header-->
<header class="w3-container w3-center w3-padding-32"> 
  <img src="../static/img/wlogo.png" alt="HTML5 Icon" style="width:128px;height:128px;"> 
  <h1><b>POWDERHOUNDS</b></h1>
  <p> plan for powder <span class="w3-tag"></span></p>
</header>
<div class="w3-content"> <!--W3 div-->

<!--heatmap-->
<div class="container">
	<div class = "row">
		<div class = 'col-md-12'>
			<div id='map' style="height: 400px;">
			<div class='map'> <!-- heatmap div -->
			<!-- ApiKey -->
			<script type="text/javascript" src="../static/config/config.js"></script>
				<!-- leaflet  -->
			 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  		 integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   		crossorigin=""></script>
			<!-- JS -->
			<script type='text/javascript'src='../static/js/heatmapv2.js'></script>
			<!-- Leaflet heatmap plugin-->
			<script type="text/javascript" src="../static/js/leaflet-heat.js"></script>
		</div> <!-- end heatmap div -->
	 </div>
  </div>
 </div>	
</div>
</br>
</br>
</br>
<!-- dropdown code -->
<div class="col-xs-6" padding= 10px> <!-- dropdown div -->
    <form action='/predict' method='POST'>
    <!-- Added header for date search -->
    Powder Day Locator<input type="date" id="start" name="trip-start"
    value="2021-10-31"
    min="2021-01-01" max="2022-12-31">
  </br>
	<div class="col-xs-6">
    <!-- User info input option for database -->
	Your location (ZIP code): <input type="text" id="myText" name="zip_code">
	</br>
	<div class="col-xs-6">
		Dream Colorado Trip Destination: <input type="text" id="myText" name="dream" maxlength="30" padding=15px>
		</br>
		Planned Colorado Trip Destination: <input type="text" id="myText" name="planned" maxlength="30" padding=5px>
		</br>
		Planned Winter Activity: <input type="text" id="myText" name="activity" maxlength="30" padding=5px>
	</br>
	<input type="submit">
	</form>
	</div>

</div> <!-- ends dropdown div --></br>

</br>
</br>
</br>
<div> <!-- Tableau Div-->
	<div class='tableauPlaceholder' id='viz1622498430119' style='position: relative'><noscript><a href='#'>
		<img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;Powderhounds_Data_Visualizations&#47;VisitorHomeLocations&#47;1_rss.png' style='border: none'/>
	</a>
</noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/> 
	<param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Powderhounds_Data_Visualizations&#47;VisitorHomeLocations'/>
	<param name='tabs' value='yes'/>
	<param name='toolbar' value='yes'/>
	<param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Po&#47;Powderhounds_Data_Visualizations&#47;VisitorHomeLocations&#47;1.png'/> 
	<param name='animate_transition' value='yes' /><param name='display_static_image' value='yes'/>
	<param name='display_spinner' value='yes' /><param name='display_overlay' value='yes'/>
	<param name='display_count' value='yes' /><param name='language' value='en-US' />
</object>
</div>                
	<script type='text/javascript'>                    
	var divElement = document.getElementById('viz1622498430119');                    
	var vizElement = divElement.getElementsByTagName('object')[0];                    
	vizElement.style.width='100%';vizElement.style.height=(divElement.offsetWidth*0.75)+'px';                    
	var scriptElement = document.createElement('script');                    
	scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
	vizElement.parentNode.insertBefore(scriptElement, vizElement);                
</script> 

</div>
<!--bar chart race-->
</br>
</br>
</br>
<div class='container'> 
   <div class='row'>
	 <div class='col-md-12'>
	   <iframe width="100%" height="650px" frameborder="0"
 src="https://observablehq.com/embed/@jxs5077/bar-chart-race/2?cells=chart"></iframe>
	 </div>
   </div>    <!--div class end bar chart race-->
</div> <!--end W3 div-->



</body>
</html>